@model FlightWebApplication.Data.Flight

@{
    ViewData["Title"] = "Delete Flight";
}
<div>
    <div class="col-md-8">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Delete Flight</h3>
                <h3>Are you sure you want to delete this?</h3>
                <p>@ViewBag.mp</p>
            </div>
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Flight_Num)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Flight_Num)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Departure_Airport)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Departure_Airport)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Arrival_Airport)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Arrival_Airport)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Departure_Date)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Departure_Date)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Departure_Time)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Departure_Time)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Arrival_Date)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Arrival_Date)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Arrival_Time)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Arrival_Time)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Seat_Capacity)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Seat_Capacity)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <form style="margin-left: 18px; font-size: 20px;" asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
