@model FlightWebApplication.Data.Flight

@{
    ViewData["Title"] = "Flight Details";
}

<div>
    <div class="col-md-8">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Flight Details</h3>
            </div>
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Flight_Num)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Flight_Num)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Departure_Airport)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Departure_Airport)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Arrival_Airport)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Arrival_Airport)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Departure_Date)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Departure_Date)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Departure_Time)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Departure_Time)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Arrival_Date)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Arrival_Date)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Arrival_Time)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Arrival_Time)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Seat_Capacity)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Seat_Capacity)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div style="margin-left: 18px; font-size: 20px;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
