@model FlightWebApplication.Data.Passenger

@{
    ViewData["Title"] = "Passenger Details";
}

<div>
    <div class="col-md-8">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Passenger Details</h3>
            </div>
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Id)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Passenger_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Passenger_Name)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Passenger_Age)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Passenger_Age)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Passenger_Email)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Passenger_Email)
                        </td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>
</div>

<div style="margin-left: 18px; font-size: 20px;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
