@model FlightWebApplication.Data.Booking

@{
    ViewData["Title"] = "Booking Details";
}

<div>
    <div class="col-md-8">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Booking Details</h3>
            </div>
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Flight_Num)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Flight_Num)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Passenger_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Passenger_Name)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Reservation_Num)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Reservation_Num)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Departure_Airport)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Departure_Airport)
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Arrival_Airport)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Arrival_Airport)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div style="margin-left: 18px; font-size: 20px;">
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id })*@
    <a asp-action="Index">Back to List</a>
</div>