@model IEnumerable<FlightWebApplication.Data.Booking>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h2>View All Booking</h2>
    <a class="navbar-brand" asp-area="" asp-controller="Booking" asp-action="Create">Add Booking</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Flight_Num)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Passenger_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reservation_Num)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
            <tr>
                <td>                    
                    @Html.DisplayFor(modelItem => booking.Flight_Num)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => booking.Passenger_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => booking.Reservation_Num)
                </td>
                <td>@Html.ActionLink("Details", "Details", new { id = booking.Id })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = booking.Id })</td>
            </tr>
            }

        </tbody>
    </table>
</div>
